body{

	background-color: orange !important;
}

/* CSS for SignIn and SignUp button modals on header section*/
label{

   font-style: normal;
   font-weight: 600;
   font-size: 17px;
}

h5{

   font-style: normal;
   font-weight: 800 !important;
   font-size: 27px !important;
}

input{

   background-color: #f1f1f1 !important;
}

.modal-header{

   border-bottom: 3px solid #d2d2d2 !important;
   margin: 0px 15px;
}

.modal-title{

   text-align: center;
   width: 100%;
}

.modal-content{
 
   margin: 20% auto;               
}

.signIn_button,.signUp_button,.createPost_button{

   width: 100%;
   padding: 5px;
   margin: 4px;
}

.modal-dialog{

   top: 10%;
}

#newUser_div{

   padding: 5px;
   margin-top: 10px;
   text-align: center;
   font-style: normal;
   font-weight: 600;
   font-size: 17px;
}

/* CSS for All the posts placed on bloglist page*/

.all_Posts{

	height: 100%;
	width: 100%;
	margin: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.post{

   width: 50%;
   height: 20%;
   background: #fff;
   margin: 10px 10px 10px 20px;
   box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
   float: left;
   border-radius: 15px;
   position: relative;
   flex-wrap: wrap;
   width: 45%;
}

.post_left{

   width: 15%;
   max-width: 15%;
   color: #000;
   font-weight: bold;
   text-align: center;
   border-radius: 15px;
   background-color: white;
   vertical-align: middle;
   display: table-cell;
}

.post_content{

	color: #000000;
	text-align: left;
	background-color: #E8E8E8;
	padding: 20px;
	border-radius: 0px 15px 15px 0px;
	width: 75%;
	display: table-cell;
}

.post_title{

	color: #2b312b;
	font-size: 20px;
	height: 25px;
	font-weight: bold;
	display: contents;
}

.post_desc{

	font-size: 15px;
	height: 55px;
	margin-bottom: 0 !important;
	max-width: 96%;
	display: -webkit-box;
	margin: 10px 0px 0px 0px;
	line-height: 1.2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post_delete,.read_more{

	float: right;
	font-size: 24px;
}

#confirm_delete{

   text-align: center;
   margin: 0;
   font-weight: 600;            
}

#delete_options{
 
   text-align: center;
}

.yes,.no{
    
   padding: 5px;
   margin: 0px 9px 9px;
   width: 30%;     
}

.delete_modal{
    
   margin-top: 30px;          
}

/* code for screen size with 1000px when screen size is reduced to 1000px */
@media only screen and (max-width : 1000px ){

.post_title{

   font-size: 17px;
}
}

/* code for screen size with 700px when screen size is reduced to 700px */
@media only screen and (max-width: 700px) {

.post{

   width: 80%;
} 
.post_title{

   font-size: 20px;
}
}

/* code for screen size with 480px when screen size is reduced to 480px */
@media only screen and (max-width: 480px) {

    .post-title{

   font-size: 16px;
}
}