/* CSS for SignIn and SignUp button modals on header section*/
label{

   font-style: normal;
   font-weight: 600;
   font-size: 17px;
}

h5{

   font-style: normal;
   font-weight: 800 !important;
   font-size: 27px !important;
}

input{

   background-color: #f1f1f1 !important;
}

.modal-header{

   border-bottom: 3px solid #d2d2d2 !important;
   margin: 0px 15px;
}

.modal-title{

   text-align: center;
   width: 100%;
}

.modal-content{
 
   margin: 20% auto;               
}

.signIn_button,.signUp_button,.createPost_button{

   width: 100%;
   padding: 5px;
   margin: 4px;
}

.modal-dialog{

   top: 10%;
}

#newUser_div{

   padding: 5px;
   margin-top: 10px;
   text-align: center;
   font-style: normal;
   font-weight: 600;
   font-size: 17px;
}

/* CSS for post body , likes, comments, edit/save button*/

.post_content{

   padding: 0px 70px; 
}

.post_head{

   text-align: center;
   font-weight: bold;
   font-size: 150%;
   margin-bottom: 30px;
}

#post_title{

   margin-top: 100px;            
}

.post_author{

   padding: 0px 0px 0px 2px;
   font-size: 25px;             
}

#author_name{

   display: inline;             
}

.post_body{

   word-wrap: break-word;           
}

#post_text{

   text-align: justify;
   margin-top: 10px;           
}

#edit_button{

   background-color: #ef3b65;
   font-size: 20px;
   float: right;
   color: white;
   border-radius: 2px;
   border: 0px;
   width: 100px;
   padding: 4px;
   box-shadow: 0px 3px 3px 1px #f7a1b5; 
}

/* CSS for post like and comments */

#like_post{

   background-color: #ef3b65;
   color: white;
   border-radius: 3px;
   border: 0px;
   margin-top: 15px;
   padding: 10px 35px;
   box-shadow: 0px 3px 3px 1px #f7a1b5;
}

#comment_post{

   background-color: #ef3b65;
   color: white;
   border-radius: 3px;
   border: 0px;
   margin-top: 15px;
   margin-bottom: 15px;
   display: block;
   padding: 10px 30px;
   box-shadow: 0px 3px 3px 1px #ef3b65;              
}

#comment_section{

   width: 60%;
   margin-top: 20px;              
}

#show_all_comments{

   font-size: 17px;
   margin-top: 40px;
   font-weight: 600;
}

.user_comments{

   background-color: white;
   margin-top: 15px;
   padding: 20px 10px;               
}

#show_comments{

   background-color: #e2e4e6;
   margin-bottom: 20px;               
}